<ion-header [translucent]="true">
  <ion-back-button></ion-back-button>
  <ion-toolbar>
    <ion-title>restablecerpass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-input class="input" [(ngModel)]="nuevapass.correo" label="Correo" labelPlacement="floating"
    placeholder="Ingrese su Correo">
    </ion-input>
    <ion-input   [(ngModel)]="nuevapass.nueva" label="Contraseña" type="password" labelPlacement="floating"
    placeholder="Ingrese su nueva Contraseña"></ion-input>
  </ion-card>

  <ion-button (click)="restablecer()">Confirmar</ion-button>

</ion-content>
